* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cambria", Cochin, Georgia, Times, 'Times New Roman', serif;
}

.chat-container {
    /* top: 100px; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: calc(100vh) ;
    min-height: 100%;
    background-color: #164863;
}

.sidebar {
    border-radius: 4px;
    background-color: #427D9D;
    box-shadow: inset 2px 2px 20px rgb(40, 39, 49), 0px 10px 20px rgb(40, 39, 49);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding-right: 10px;
    position: relative;
    border: 2px solid #e2d1d1;
    border-radius: 25px ;
    margin-bottom: 20px;
}
.join_room_button{
    box-shadow: inset 2px 2px 10px 10px #799cc9;
    position: relative;
    transition: box-shadow 500ms ease-out;
    font-size: x-large;
    margin-left: 2%;
    height: 80%;
    width: 10%;
    border-radius: 15px;
    outline: none;
    border: 2px solid #F0ECE5;
    background-color: transparent;
}
.join_room_button:hover{
    box-shadow: inset 2px 2px 10px 10px #799cc9,2px 2px 10px 6px #799cc9;
}

.search-input {
    width: 80%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    /* border-bottom: 1px solid #575756; */
    transition: all 250ms ease-in-out;
}

.search-input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search-input:hover,
.search-input:focus {
    border: none;
     /* border-radius: 0;  */
     outline: none;


}

.person-list {
    min-height: calc(100% - 10% - 17px);
    /* Adjusted for scrollbar (10% - 17px) */
    width: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 25px;
    font-weight: lighter;
    text-transform: capitalize;
}

.persons::-webkit-scrollbar {
    width: 10px;
    /* Set the width of the scrollbar */
}

.persons::-webkit-scrollbar-track {
    background: #e0e0e0;
    /* Set the background color of the track */
    border-radius: 5px;
    /* Optional: Set border radius for the track */
}

.persons::-webkit-scrollbar-thumb {
    background: #9BBEC8;
    /* Set the color of the thumb */
    border-radius: 5px;
    /* Optional: Set border radius for the thumb */
}

.persons::-webkit-scrollbar-thumb:hover {
    background: #7e98a2;
    /* Set the color of the thumb on hover */
}

.persons {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
}

.person-name {
    border-radius: 5px;
    backdrop-filter: blur(20);
    height: 10%;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 100%;
    font-weight: lighter;
    color: black;
    border-bottom: 2px solid #9BBEC8;
    margin-block: 2px;
}

.person-name:hover {
    box-shadow: inset 4px 4px 20px 20px #B4D4FF, 1px -1px 10px 1px #B4D4FF;
}

.header {
    height: 15vh;
    background-color: #31304D;
    width: 100%;
}

.body {
    height: calc(100vh - 15vh - 10vh);
    width: 100%;
}

.messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: large;
    position: relative;
    overflow-y: auto;
}

.message {
    margin-left: 10px;
    margin-block: 5px;
    border-radius: 15px;
    background-color: #F0ECE5;
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    padding: 5px 5px;
    box-sizing: border-box;
    /* text-justify: newspaper; */
    width: auto;
    max-width: 10%;
}



.message.right {
    margin-right: 15px;
    align-self: flex-end;
}

.messages::-webkit-scrollbar {
    width: 10px;
    /* Set the width of the scrollbar */
}

.messages::-webkit-scrollbar-track {
    background: #e0e0e0;
    /* Set the background color of the track */
    border-radius: 5px;
    /* Optional: Set border radius for the track */
}

.messages::-webkit-scrollbar-thumb {
    background: #9BBEC8;
    /* Set the color of the thumb */
    border-radius: 5px;
    /* Optional: Set border radius for the thumb */
}

.messages::-webkit-scrollbar-thumb:hover {
    background: #7e98a2;
    /* Set the color of the thumb on hover */
}
.chat-section{
    display: none;
}
.d-none{
  display: block;
}

.footer{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: end;
    overflow: hidden;
    align-items: center;
    
}
.footer-content{
    margin-inline: 5px;
    border-radius: 25px;
    height: 80%;

    position: relative;
    width: 100%;
    border: 2px solid #e0e0e0;
}
#sendbar{
    border: none;
    border-bottom: 2px solid #dfd7d7;
    color: #FFFFFF;
    margin-left: 5%;
    margin-right: 2%;
    /* margin-bottom: 00%; */
    font-size: larger;
    padding-left: 1%;
    background-color: transparent;
    position: relative;
    width: 50%;
    height: 60%;
    outline: none;
    text-transform: capitalize;
    /* border-bottom: 2px solid black; */
    /* border-radius: 25px; */
}
.button{
    height: 80%;
    margin-top: 5px;
    box-shadow: inset 2px 2px 10px 10px #799cc9;
    text-align: center;
    font-size: 20px;
    width: 10%;
    border: 1.5px solid #dfd7d7;
    border-radius: 25px;
    color: #FFFFFF;
    background-color: transparent;
    transition: box-shadow 0.2s ease-out;

}
.button:hover{
    box-shadow:  inset 2px 2px 10px 10px #799cc9, 0.2px 0.2px  10px 2px #799cc9 ;
}
.button:active{
    box-shadow:  inset 2px 2px 10px 10px #799cc9, 0.2px 0.2px  10px 2px #799cc9 ;

}